@import './utils/vars';
@import './utils/utils';
@import './base/reset';
@import './base/base';
@import './components/components';
@import './layouts/layouts';

// Процесс прохождения адаптивной верстки

*,
*::after,
*::before {
  outline: 1px solid red;
  outline-offset: -1px;
}

.header,
.footer {
  display: none !important;
}
