/* Logo */

.logo {
  font-family: var(--logo-font);
  @include font-pars(700, 24px, 28px);

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    @include font-pars(700, 26px, 31px);
  }
}

.nav__logo {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--logo-color);

  // TABLET
  @media screen and (min-width: $adp-min-tablet) {
    margin-right: 87px;
  }

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    margin-right: 92px;
  }
}

.footer__logo {
  color: var(--inverse-text-color);
}

.logo__accentpart {
  color: var(--accent-color);
}
