/* Menu Burger */

.menu-burger-btn {
  @extend %flex-center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color var(--transition-method);

  // TABLET+
  @media screen and (min-width: $adp-min-tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-burger-btn__icon {
  fill: currentColor;
}

.menu-burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  display: flex;
  flex-direction: column;

  background-color: var(--main-bg-color);

  transform: translateX(100%);
  transition: transform var(--transition-method);

  // TABLET+
  @media screen and (min-width: $adp-min-tablet) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.menu-burger-btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-burger__nav-list {
  margin-bottom: auto;
}

.menu-burger__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-burger__nav-link {
  @include font-pars(500, 40px, 47px, 0.02em);
  color: var(--title-text-color);

  transition: color var(--transition-method);

  &--current,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-burger__contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-burger__link-phone {
  @include font-pars(500, 34px, 40px, 0.02em);
  color: var(--accent-color);
  // Correcting fonts
  @media screen and (max-width: 376px) {
    @include font-pars(500, 26px, 30px, 0.02em);
  }
}

.menu-burger__link-mail {
  @include font-pars(500, 24px, 28px, 0.02em);
}

.menu-burger__socials-list {
  display: flex;
  margin-top: 64px;
  @include font-pars(500, 18px, 22px, 0.02em);
  color: var(--accent-color);

  // Correcting fonts
  @media screen and (max-width: 440px) {
    @include font-pars(500, 14px, 18px, 0.02em);
  }
  @media screen and (max-width: 376px) {
    @include font-pars(500, 10px, 14px, 0.02em);
  }
}

.menu-burger__socials-item {
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
