.ourworks__title,
.ourteam__title,
.clients__title {
  text-align: center;
  color: var(--title-text-color);

  margin-bottom: 30px;
  @include font-pars(700, 28px, 33px);

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    margin-bottom: 50px;
    @include font-pars(700, 36px, 42px);
  }
}
