/* Section Features */

.features__list {
  // TABLET
  @media screen and (min-width: $adp-min-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    flex-wrap: nowrap;
  }
}

.features__item {
  // MOBILE
  @media screen and (max-width: $adp-max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // TABLET
  @media screen and (min-width: $adp-min-tablet) {
    flex-basis: calc((100% - 30px * 1) / 2);
  }

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    flex-basis: calc((100% - 30px * 3) / 4);
  }
}

.feature__header {
  @extend %flex-center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--grey-bg-color);
}

.feature__title {
  margin-bottom: 10px;
  @include font-pars(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--title-text-color);

  // MOBILE
  @media screen and (max-width: $adp-max-mobile) {
    text-align: center;
  }
}

.feature__text {
  @include font-pars(false, 14px, 24px);
}
