/* Section Features */

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.feature__header {
  @extend %flex-center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--grey-bg-color);
}

.feature__title {
  margin-bottom: 10px;
  @include font-pars(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature__text {
  @include font-pars(false, 14px, 24px);
}
