/* Section Hero */

.hero {
  color: var(--inverse-text-color);
  background-color: var(--inverse-bg-color);
}

.hero__overlay {
  min-width: $adp-min-responsive;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 400px;
  padding-top: 118px;

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    height: 600px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;

  width: 360px;
  @include font-pars(900, 26px, 42px, 0.06em);

  @media screen and (max-width: 360px) {
    width: 100%;
  }

  // DESKTOP
  @media screen and (min-width: $adp-min-desktop) {
    width: 696px;
    @include font-pars(900, 44px, 60px, 0.06em);
  }
}

.hero__btn {
  width: 216px;
}
